<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @question.exam %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question_id %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @question.position %>
</p>

<%= link_to 'Edit', edit_exam_question_path(@exam, @question) %> |
<%= link_to 'Back', exam_questions_path(@exam) %>
