<h1>Listing parts</h1>

<table>
  <thead>
    <tr>
      <th>Exam</th>
      <th>Question</th>
      <th>Question type</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.exam %></td>
        <td><%= part.question_id %></td>
        <td><%= part.question_type %></td>
        <td><%= part.position %></td>
        <td><%= link_to 'Show', exam_part_path(@exam, part) %></td>
        <td><%= link_to 'Edit', edit_exam_part_path(@exam, part) %></td>
        <td><%= link_to 'Destroy', exam_part_path(@exam, part), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_exam_part_path(@exam) %>
