<div class="row">
  <h1 class="text-center"><%= @exam.name %></h1>
</div>
<div class="row">
<div class="col-md-4">
    <h1>選擇問題</h1>
</div>
<div class="col-md-offset-8">
    <%= render 'questions_count' %>
</div>
</div>

<h2>選擇題</h2>
<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>序號</th>
      <th>問題</th>
      <th>標籤</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @all_multiple_choices.each do |mc| %>
        <tr>
          <td><%= link_to mc.id, mc %></td>
          <td><%=raw mc.description %></td>
          <!-- TODO: n+1 query -->
          <td>
          <% for tag in mc.tag_list %>
            <%= link_to tag, new_exam_part_path(@exam, tags: tag) %> | 
          <% end %>
          </td>
          <td id="<%= mc.class.name + mc.id.to_s %>">
            <%= render partial: 'form', locals: { 
                exam: @exam,
                parts: @parts,
                question: mc } %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<h2>問答題</h2>
<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>序號</th>
      <th>名稱</th>
      <th>問題</th>
      <th>標籤</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @all_essays.each do |essay| %>
      <tr>
        <td><%= link_to essay.id, essay %></td>
        <td><%= link_to essay.name, essay %></td>
        <td><%=raw essay.description %></td>
        <td>
          <% for tag in essay.tag_list %>
            <%= link_to tag, new_exam_part_path(@exam, tags: tag) %> | 
          <% end %>
        </td>
        <td id="<%= essay.class.name + essay.id.to_s %>">
            <%= render partial: 'form', locals: { 
                exam: @exam,
                parts: @parts,
                question: essay } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '返回', exams_path(@exam), class: 'btn btn-default' %>
