<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zhi</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1 class="text-center"><%= @exam.name %></h1>
    <% unless params['essays_only'] %>
    <h2>選擇題</h2>
    <ol>
      <% @multiple_choices.each do |q| %>
        <li class="top-buffer">
          <%=raw q.description %>
          <ol type="A">
          <% q.choices.each do |c| %>
            <li>
              <%= c.description %>
              <% if c.correct %>
              <span class="glyphicon glyphicon-ok"></span> 
              <% end %> 
            </li>
          <% end %>
          </ol>
          <% unless params['multiple_choices_only'] %>
          <div class="row">
            答案: <%=raw q.answer %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% end %>
    <% unless params['multiple_choices_only'] %>
    <h2>問答題</h2>
    <ol>
      <% @essays.each do |q| %>
        <li class="top-buffer">
          <p>
            <%=raw q.description %>
          </p>
          <p>
            答案: <%=raw q.answer %>
          </p>
        </li>
      <% end %>
    </ol>
    <% end %>
  </body>
</html>