<%= simple_form_for(@multiple_choice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, :as => :ckeditor, 
    :label => '問題',
    :input_html => { :ckeditor => { :customConfig => '/assets/ckeditor/config.js?body=1' } } %>
  </div>

  <div id="choices">
  <h3>選項列表</h3>
    <%= f.simple_fields_for :choices do |choice|
        render 'choice_fields', :f => choice
    end %>
  
    <div class="links top-buffer">
        <%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span> 添加選項'.html_safe, f, :choices %>
    </div>
  </div>
  
  <div class="form-inputs top-buffer">
    <%= f.input :answer, :as => :ckeditor, 
    :label => '解答',
    :input_html => { :ckeditor => { :customConfig => '/assets/ckeditor/config.js?body=1' } } %>
  </div>
  
  <div class="form-inputs top-buffer">
    <%= f.input :tag_list, :input_html => {value: @multiple_choice.tag_list.to_s}, :label => '標籤', :hint => '逗號分隔, 例如: data_structure, binary_search_tree, recursion' %>
  </div>
  
  <div class="form-actions top-buffer">
    <%= f.button :submit, '保存', {class: 'btn btn-default'} %>
  </div>
<% end %>
