<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-11"><h1>選擇題列表</h1></div><!--
  --><div class="col-md-1 top-padding-buffer"><%= link_to '新的選擇題', new_multiple_choice_path %></div>
</div>
<% if params['tags'] %>
<div class="row">
  <div class="col-md-11">
    標籤:
    <%=raw params['tags'].split(',').map {|tag| link_to tag, multiple_choices_path(tags: tag)}.join(' | ') %>
  </div>
</div>
<% end %>

<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>序號</th>
      <th>問題</th>
      <th>標籤</th>
      <th colspan="2" width="10%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @multiple_choices.each do |mc| %>
      <tr>
        <td><%= link_to mc.id, mc %></td>
        <td><%=raw mc.description %></td>
        <td><%=raw mc.tags.map {|tag| link_to tag.name, multiple_choices_path(tags: tag.name)}.join(' | ') %></td>
        <td><%= link_to '編輯', edit_multiple_choice_path(mc) %></td>
        <td><%= link_to '刪除', mc, method: :delete, data: { confirm: '確定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

