<h1>選擇題列表</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multiple_choices.each do |multiple_choice| %>
      <tr>
        <td><%= multiple_choice.description %></td>
        <td><%= link_to 'Show', multiple_choice %></td>
        <td><%= link_to 'Edit', edit_multiple_choice_path(multiple_choice) %></td>
        <td><%= link_to 'Destroy', multiple_choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multiple choice', new_multiple_choice_path %>
