<p id="notice"><%= notice %></p>

<p>
  <strong>問題:</strong>
  <%=raw @multiple_choice.description %>
</p>
<p>
  <strong>選項:</strong>
  <ol type="A">
  <% @multiple_choice.choices.each do |c| %>
    <li><%= c.description %>
        <% if c.correct %>
           <span class="glyphicon glyphicon-ok"></span> 
        <% end %>
    </li>
  <% end %>
  </ol>
</p>

<p>
  <strong>解答:</strong>
  <%=raw @multiple_choice.answer %>
</p>

<div id="referring_exams">
  <strong>試卷引用:</strong>
  <% @referring_exams.each do |e| %>
    <%= link_to e.name, e %>
  <% end %>
</div>

<%= link_to '編輯', edit_multiple_choice_path(@multiple_choice) %> |
<%= link_to '返回', multiple_choices_path %>
