<%= simple_form_for(@exam) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => '名稱' %>
    <%= f.input :description, :label => '描述' %>
    <%= f.input :note, :label => '封面页附加文字' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '保存', {class: 'btn btn-default'} %>
  </div>
<% end %>
