<div class="row">
  <div class="col-md-11"><h1>所有的試卷</h1></div><!--
  --><div class="col-md-1 top-padding-buffer"><%= link_to '新的試卷', new_exam_path %></div>
</div>

<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>名稱</th>
      <th>描述</th>
      <th colspan="5" width="30%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.name, exam %></td>
        <td><%= exam.description %></td>
        <td><%= link_to '打印', printable_exam_path(exam), target: '_blank' %></td>
        <td><%= link_to '答案', printable_exam_path(exam, { answer: true }), target: '_blank' %></td>
        <td><%= link_to '編輯', edit_exam_path(exam) %></td>
        <td><%= link_to '問題集', new_exam_part_path(exam) %></td>
        <td><%= link_to '刪除', exam, method: :delete, data: { confirm: '一失足成千古恨, 再回頭已百年身. 確定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
