<p id="notice"><%= notice %></p>

<p>
  <strong>名稱:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>描述:</strong>
  <%= @exam.description %>
</p>

<%= link_to '打印', printable_exam_path(@exam), target: '_blank' %> |
<%= link_to '答案', printable_exam_path(@exam, { answer: true }), target: '_blank' %> |
<%= link_to '編輯', edit_exam_path(@exam) %> |
<%= link_to '問題集', new_exam_part_path(@exam) %> |
<%= link_to '返回', exams_path %>
