<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @exam.name %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= @exam.description %>
    </p>
    附加文字:<br/>
    <p>
      <%=raw @exam.note %>
    </p>
  </div>
  <div class="panel-footer">
    選擇題: <%= @exam.multiple_choices.length %> 
    問答題: <%= @exam.essays.length %>
    創建於: <%= @exam.created_at.localtime %>
  </div>
</div>

<%= link_to '打印', printable_exam_path(@exam, format: :pdf), target: '_blank', class: 'btn btn-default' %>
<%= link_to '答案', printable_exam_path(@exam, { answer: true }), target: '_blank', class: 'btn btn-default' %>
<%= link_to '編輯', edit_exam_path(@exam), class: 'btn btn-default' %>
<%= link_to '問題集', new_exam_part_path(@exam), class: 'btn btn-default' %>
<%= link_to '返回', exams_path, class: 'btn btn-default' %>
