<%= simple_form_for(@essay, html: { role: 'form' }) do |f| %>
  <% if @essay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@essay.errors.count, "error") %> prohibited this essay from being saved:</h2>

      <ul>
      <% @essay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  <%= f.input :name, :label => '名稱' %>
  <%= f.input :description, :as => :ckeditor, 
    :label => '問題',
    :input_html => { :ckeditor => { :customConfig => '/assets/ckeditor/config.js?body=1' } } %>
  <%= f.input :answer, :as => :ckeditor, 
    :label => '解答',
    :input_html => { :ckeditor => { :customConfig => '/assets/ckeditor/config.js?body=1' } } %>
  </div>
  
  <div class="form-actions">
  <%= f.button :submit, '保存', {class: 'btn btn-default'} %>
  </div>
  
<% end %>
