<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-10"><h1>問答題列表</h1></div><!--
  --><div class="col-md-2 top-padding-buffer">
      <%= link_to '標籤云', tag_cloud_multiple_choices_path %> | <%= link_to '新的問題', new_essay_path %>
    </div>
</div>
<% if params['tags'] %>
<div class="row">
  <div class="col-md-11">
    標籤:
    <%=raw params['tags'].split(',').map {|tag| link_to tag, essays_path(tags: tag)}.join(' | ') %>
  </div>
</div>
<% end %>

<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>序號</th>
      <th>名稱</th>
      <th>問題</th>
      <th>標籤</th>
      <th colspan="2" width="10%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @essays.each do |essay| %>
      <tr>
        <td><%= link_to essay.id, essay %></td>
        <td><%= link_to essay.name, essay %></td>
        <td><%=raw essay.description %></td>
        <td><%=raw essay.tags.map {|tag| link_to tag.name, essays_path(tags: tag.name)}.join(' | ') %></td>
        <td><%= link_to '編輯', edit_essay_path(essay) %></td>
        <td><%= link_to '刪除', essay, method: :delete, data: { confirm: '確定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

