<div class="row">
  <div class="col-md-11"><h1>問答題列表</h1></div><!--
  --><div class="col-md-1 top-padding-buffer"><%= link_to '新的問題', new_essay_path %></div>
</div>

<table class="table table-striped table-bordered top-buffer">
  <thead>
    <tr>
      <th>名稱</th>
      <th>問題</th>
      <th colspan="2" width="10%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @essays.each do |essay| %>
      <tr>
        <td><%= link_to essay.name, essay %></td>
        <td><%=raw essay.description %></td>
        <td><%= link_to '編輯', edit_essay_path(essay) %></td>
        <td><%= link_to '刪除', essay, method: :delete, data: { confirm: '確定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

