<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @essay.name %></h3>
  </div>
  <div class="panel-body">
    <strong>問題:</strong> <%=raw @essay.description %>
  </div>
  <div class="panel-body">
    <strong>解答:</strong> <%=raw @essay.answer %>
  </div>
  <div class="panel-footer">
      <strong>試卷引用:</strong>
      <% @referring_exams.each do |e| %>
        <%= link_to e.name, e %>
      <% end %>
      <br/>
      <strong>標籤:</strong>
      <% for tag in @essay.tag_list %>
        <%= link_to tag, essays_path(tags: tag) %> | 
      <% end %>
      <br/>
      創建於: <%= @essay.created_at.localtime %>
  </div>
</div>

<%= link_to '編輯', edit_essay_path(@essay), class: 'btn btn-default' %>
<%= link_to '返回', essays_path, class: 'btn btn-default' %>
